img{
    float: left;
    border-style: hidden;
    border-width: 1px;
    padding: 20px;
}

body{
    background-image: url("Arranmore\ graveyard.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    font-family: sans-serif;
    font-size: 40px;
    color: white;
    float: right;
    border-style: hidden;
    border-width: 1px;
    padding: 20px;
}

h1{
    font-family: sans-serif;
}
